@page "/genrepages/genreupdatepage/{Id:int}"

@inject IGenreServices _genreServices
@inject NavigationManager _nav
@inject IJSRuntime js
<h3>GenreUpdates</h3>

<div>
    <EditForm Model="@genre" OnValidSubmit="@Updategenre">
        <DataAnnotationsValidator />
        <div>
            <div>
                <div class="form-group col-md-6">
                    <label for="genreTitle">Genre Name</label>
                    <InputText form="genreTitle" class="form-control" @bind-Value="@genre.Name" />
                    <ValidationMessage For="@(() => genre.Name)" />
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Update</button>
                    <button type="button" class="btn" style="background-color:#400444; color:white" @onclick="@(()=>Cancel(Id))">Cancel</button>
                </div>
            </div>
        </div>

    </EditForm>
</div>

@code {
    [Parameter]
    public int Id { get; set; }
    ViewGenre genre = new ViewGenre();
    UpdateGenre updateGenre = new UpdateGenre();
    protected override async Task OnInitializedAsync()
    {
        genre = await _genreServices.GetGenreAsync(Id);
    }
    protected async void Updategenre()
    {
        var uId = genre.Id;
        updateGenre.Id = genre.Id;
        updateGenre.Name = genre.Name;
        var response = await _genreServices.UpdateGenreAsync(updateGenre);
        if (response)
        {
            await js.InvokeVoidAsync("updated");
            _nav.NavigateTo($"/genrepages/genreviewpage/{uId}");
        }
    }
    protected void Cancel(int id)
    {
        _nav.NavigateTo($"/genrepages/genreviewpage/{id}");
    }

}
